*.jfm
*.dbmdl

/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/Fbg.NPCController/bin/
/Fbg.NPCController/obj/
/.vs/*
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
/Fbg.Web/ErrorLog.txt
