<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <section name="Gmbc.Common.Diagnostics" type="Gmbc.Common.Diagnostics.Config, Gmbc.Common"/>
        <section name="Fbg.DAL" type="Fbg.DAL.Config, Fbg.DAL"/>
    </configSections>
    <dataConfiguration defaultDatabase="fgb"/>
    <connectionStrings>
        <add name="fgb" connectionString="Data Source=localhost;Initial Catalog=FBGCommon;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>


    <Gmbc.Common.Diagnostics>
        <TextFileLogger FileName="ErrorLog.txt" UseForPublish="true"/>
    </Gmbc.Common.Diagnostics>

    <system.diagnostics>
        <switches>
            <!-- This switch controls the level of information 
				0 - no information 
				1 - Errors Only
				2 - Errors and Warnings
				3 - Errors, Warnings and Informational messages
				4 - verbose, ie everything-->
            <add name="fbg.web" value="4"/>
            <add name="Fbg.Bll.dll" value="3"/>

        </switches>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <add name="LogFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TraceOutput.log"/>
            </listeners>
        </trace>
    </system.diagnostics>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
