<Misc
    InDevEnvironment="true"
    ShowErrorLog="True"
    PFSystemActive="True"
    BaseUrl="http://localhost/"
    Theme="roe"
    AppPoolName="apppool #1"
    SaleType="0"
    NewPlayerRealmID="1"
    NewMobilePlayerRealmID="1"
    awsSecretKey = ""
    awsAccessKey = ""
    CollectAnalyticsOnRealms=""
    CollectAnalyticsOnRealms_People="1," 
    CollectAnalytics_OmitEvents=""
    CollectAnalytics_MixPanelID=""
    LatestAppVer_Android="0" 
    LatestAppVer_iOS="0" 
    AmazonRVSSandbox="true"
    OverrideDeviceType=""
    FriendReward_RewardTheInviterGets = ""
    FriendReward_RewardTheInviteeGets = ""
    FriendReward_SaleEndsOn = ""
 />

<!-- Env, Possible values:
   "fb" : means the game runs under facebook 
   "mob" : means the game is running in a mobile app
   "mixed" : means Game is running in mixed mode - the header in request tells it what login method to use
 -->

<!-- SaleType, Possible values:
   "0" : no sale 
   "1" : 10 % more servants
   "2" : up to 40% reduction in prices
 -->


<!-- LatestAppVer_Android, and LatestAppVer_iOS must be DOUBLE type (1, 1.0, 1.4 etc)
 -->

<!-- OverrideDeviceType allows you to override the device type for testing 

    public enum Device
    {
        Other = 0,
        Android = 1,
        iOS = 2,
        BB = 3,
        WP = 4,
        Amazon = 5
    }
    
    set to "" not to override the device type at all 
-->

