<connectionStrings>
	<add name="fgb" connectionString="Data Source=localhost;Initial Catalog=fbgcommon;Integrated Security=True;"
	  providerName="System.Data.SqlClient" />
  <add name="errorLog" connectionString=""
	  providerName="System.Data.SqlClient" />
  <add name="FbgLog" connectionString=""
	  providerName="System.Data.SqlClient" />
</connectionStrings>