.iFrameDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: 0 !important;
    width: auto;
    height: auto;
    z-index: 3000;
    background: #000000;
}

    .iFrameDiv > .IFrameDivTitle {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: auto;
        width: auto;
        height: 40px;
        z-index: 2000;
        background-image: url(https://static.realmofempires.com/images/misc/M_SP_UIMisc.png), url(https://static.realmofempires.com/images/misc/M_SP_UIMisc.png);
        background-repeat: no-repeat;
        background-position: 44px 2px, 44px 34px;
    }

    .iFrameDiv > .popupBody    {
        margin-top: 44px;
    }

#popup_QuickRecruit .popupBody {
    margin-top: 0px;
} 

#background
{
    position: fixed;
}



 /*TEMP CODE FOR THE RATE-US popup for mobile users*/

.rateAppPopup .title {
    color: #FFD776; 
    font: 17px/1.0em "IM Fell French Canon SC", serif;
}
.rateAppPopup  .rateitbut{
        display: block;
        width: 148px;
        height: 42px;
        bottom: 0px;
        left: 78px;
        margin: 10px auto;
    }

    .rateAppPopup  .rateitbut {
        background-image: url("https://static.realmofempires.com/images/buttons/M_Btn_rateus.png");
    }

        .rateAppPopup  .rateitbut:active {
            background-image: url("https://static.realmofempires.com/images/buttons/M_Btn_rateus2.png");
        }
.rateAppPopup .nothanks {
    color: #FFD776;
    font: 11pt/1.0em "IM Fell French Canon SC", serif;
    margin-bottom:15px;
    margin-top:15px;
}

/* END ***** *TEMP CODE FOR THE RATE-US popup for mobile users*/

