

#chart {
  display: block;
  float: left;
  cursor: pointer;
}

#chartData {
  border-collapse: collapse;
}

#chartData th, #chartData td {
  padding: 0.5em;
  border: 1px dotted #666;
  text-align: left;
}

/*#chartData th {
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}
*/
#chartData td {
  cursor: pointer;
}
/*
#chartData td.highlight {
  background: #404040;
}
*/
#chartData tr:hover td {
  background: #404040;
}